@import "const";

@mixin button{
  background-color: $turquoise;
  border-radius: 8px;
  color: white;
  border: none;
  text-decoration: none;
  &:hover {
    background-color: $hoverTurquoise;
  }
  &:focus{
    outline: none;
  }
}

@mixin link{
  color: black;
  text-decoration: none;
}