@import "mixin";

.order-list-item{
  @include link;
  &:hover{
    background-color: $lightGrey;
  }
  width: calc(100% - 67px);
  display: inline-block;
  padding: 20px;
  border-bottom: 2px solid $lightGrey;
}